<!-- 添加目标 -->
{$layout}
{$template "/datepicker"}
{$var "header"}
{$end}
<div style="display: flex;height: 40px;border-bottom: 1px #f0f0f0 solid;width: 100%;padding-bottom: 10px;">
    <div style="cursor: pointer;margin-top: 10px;" @click="onCreateChannel">[创建]</div>
</div>

<div style="width: 100%;height: 650px;margin-top: 10px;overflow-x: auto; overflow-y: auto;">
    <table  class="ui table selectable celled" border="1" style="border-collapse: collapse;">
        <thead>
        <tr align="center">
            <th class='table-head-bg' style="width: 250px;">名称</th>
            <th class='table-head-bg' style="width: 100px;">联系人</th>
            <th class='table-head-bg' style="width: 130px;">联系电话</th>
            <th class='table-head-bg' style="width: 200px;">产品名称</th>
            <th class='table-head-bg' style="width: 100px;">客户数</th>
            <th class='table-head-bg' style="width: 130px;">状态</th>
            <th class='table-head-bg' style="width: 150px;">创建时间</th>
            <th class='table-head-bg' style="width: 130px;">操作</th>
        </tr>
        </thead>
        <tbody >
        <tr align="center" style="height: 40px;" v-for="item in tableData">
            <td>
                <div style="padding: 4px 0;">
                    {{item.companyName}}
                </div>
            </td>
            <td>
                <div style="padding: 4px 0;">
                    {{item.linkPerson}}
                </div>
            </td>
            <td>
                <div style="padding: 4px 0;">
                    {{item.phoneNum}}
                </div>
            </td>
            <td>
                <div style="padding: 4px 0;">
                    {{item.productName}}
                </div>
            </td>
            <td>
                <div style="padding: 4px 0;color: #0090cb;">
                    <u style="cursor: pointer;" @click="onLookDetail(item)">
                        {{item.clientCount}}
                    </u>
                </div>
            </td>
            <td>
                <div :class="{'status-open':item.status==1,'status-close':item.status!=1}">
                    {{getStatus(item.status)}}
                </div>
            </td>
            <td>
                <div style="padding: 4px 0;">
                    {{item.createTime}}
                </div>
            </td>
            <td>
                <div style="display: flex;justify-content: space-around;padding: 4px 0;">
                    <div class="edit_btn" @click="onChangeItem(item)">修改</div>
                    <div class="red-edit-btn" @click="onDeleteItem(item)" >删除</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
