{$layout}

<first-menu>
    <menu-item href="/ddos/host" code="index">主机列表</menu-item>
    <span class="item">|</span>
    <a href="" class="item" @click.prevent="createPolicy()">[添加高仿IP]</a>
    DDoS防护节点:
    <select class="ui dropdown auto-width" name="userType" v-model="userType">
        <option value="">[用户类型]</option>
        <option value="admin">管理员</option>
        <option value="user">用户</option>
    </select>
</first-menu>

<!-- 搜索 -->
<div class="margin"></div>
<form class="ui form" method="get" action="/ddos/host">
    <div class="ui fields inline">
        <div class="ui field">
            <input type="text" name="keyword" v-model="keyword" placeholder="ddos名称..."/>
        </div>
        <div class="ui field">
            <button type="submit" class="ui button">搜索</button>
        </div>
    </div>
</form>

<!-- 列表 -->
<p class="comment" v-if="list == null || list.length == 0">暂时还没有主机。</p>
<table class="ui table selectable celled" v-if="list != null && list.length > 0">
    <thead>
    <tr>
        <th>主机</th>
        <th>IN</th>
        <th>OUT</th>
        <th class="center">SYN</th>
        <th class="center">ACK</th>
        <th class="center">UDP</th>
        <th class="center">ICMP</th>
        <th class="center">FRAG</th>
        <th class="center">NonIP</th>
        <th class="center">NewTCP</th>
        <th class="center">NewUDP</th>
        <th class="center">IN</th>
        <th class="center">OUT</th>
        <th class="center">UDP</th>
        <th class="two op">操作</th>
    </tr>
    </thead>
    <tr v-for="(policy, index) in list">
        <td><keyword :v-word="keyword">{{policy.addr}}</keyword></td>
        <td>{{policy.bandwidth_in}}</td>
        <td>{{policy.bandwidth_out}}</td>
        <td>{{policy.rate_syn}}</td>
        <td>{{policy.rate_ack}}</td>
        <td>{{policy.rate_udp}}</td>
        <td>{{policy.rate_icmp}}</td>
        <td>{{policy.rate_frag}}</td>
        <td>{{policy.rate_nonip}}</td>
        <td>{{policy.rate_new_tcp}}</td>
        <td>{{policy.rate_new_udp}}</td>
        <td>{{policy.tcp_conn_in}}</td>
        <td class="center">{{policy.tcp_conn_out}}</td>
        <td class="center">{{policy.udp_conn}}</td>
        <td>
            <a :href="'/ddos/host/shieldList?id=' + policy.host_id">配置</a> &nbsp; <a href="" @click.prevent="deletePolicy(policy.host_id)">删除</a>
        </td>
    </tr>
</table>

<div class="page" v-html="page"></div>