{$layout "layout_popup"}

<h3>添加资产</h3>

<form class="ui form" method="post" data-tea-action="$" data-tea-success="success">
    <table class="ui table definition selectable">
        <tr>
            <td class="title">操作系统 *</td>
            <td>
                <div>
                    <select class="ui dropdown auto-width" v-model="os">
                        <option value="">请选择</option>
                        <option v-for="item in OSList" :value="item" @click="changeOS"><span>{{item}}</span></option>
                    </select>
                </div>
            </td>
        </tr>
        <tr v-if="showVersion()">
            <td class="title">系统版本 *</td>
            <td>
                <div>
                    <select class="ui dropdown auto-width" v-model="version">
                        <option value="">请选择</option>
                        <option v-for="item in versionList" :value="item" @click="changeVersion">{{item}}</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr v-if="showArchitecture()">
            <td class="title">系统架构 *</td>
            <td>
                <div>
                    <select class="ui dropdown auto-width" v-model="architecture">
                        <option value="">请选择</option>
                        <option v-for="item in architectureList" :value="item">{{item}}</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr v-if="createCommand()">
            <td>安装命令*</td>
            <td>
                <textarea rows="3" name="remark" v-model="command"></textarea>
            </td>
        </tr>
    </table>
    <submit-btn></submit-btn>
</form>