<!-- 病毒木马 详情
弹窗页面 -->
<!-- <a href="/hids/invade/virusDetail" class="item">弹窗页面</a> -->
{$layout}
<div class="card-div" style="margin-top: 20px;">
    <div style="height: 50%;;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div>主机信息</div>
        <div class="edit_btn" @click="onGoBack">返回</div>
    </div>
    <div style="border-bottom:1px solid #f0f0f0;"></div>  
    <div style="height: 50%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div style="width: 30%;margin-right: 5%;">
            <span style="font-weight: bold;">操作系统：</span>
            <span>{{pageData.systemInfo}}</span>
        </div>
        <div style="width: 30%;margin-right: 5%;">
            <span style="font-weight: bold;">上次扫描时间：</span>
            <span>{{onChangeTimeFormat(pageData.lastScanTime)}}</span>
        </div>
        <div style="width: 30%;">
            <span style="font-weight: bold;">{{pageData.countName}}</span>
            <span>{{pageData.countValue}}</span>
        </div>
    </div>
</div>

<div v-if="nPageType>=1">
    <div class="card-div" style="margin-top: 20px;height: 40px;">
        <div style="height: 100%;display: flex;flex-direction: row;align-items: center;">
            <div v-for="item in sShowMenuData" 
                :class="{'menu-select-color':nShowTableState===item.state,'menu-define-color':nShowTableState!=item.state}" 
                @click="onChangeTableStat(item.state)">{{item.name}}</div>
        </div>
    </div>

    <div class="card-div" style="margin-top: 20px;height: 600px;padding-top: 15px;">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th v-for="item in pShowTableTile" class='table-head-bg' :style="{width: item.width}" >{{item.name}}</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in pShowTableData" >
                    <td v-for="keyItem in sTableValueKey">{{getTableValue(keyItem,item[keyItem])}}</td>
                    <td>
                        <div style="display: flex;justify-content: space-around;">
                            <div v-for="btnItem in sShowBtnData" class="edit_btn" @click="onRunFunction(btnItem.funcName,item.id)">
                                {{btnItem.name}}
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div v-if="bShowItemDetail" class="dialog-style" @click.stop>
    <div class="dialog-bg-style" style="display: flex;flex-direction: column;" :style="{width:pClickItemData.width,height:pClickItemData.height}">
        <div style="flex: 6;">
            <div style="margin-top: 50px;"></div>
            <div v-for="item in pClickItemData.itemInfo" class="detail-box-style">
                <div class="title-box-f">{{item.key}}</div>
                <div class="title-box-h">{{item.value}}</div>
            </div>
        </div>
        <div style="flex: 1;display: flex;justify-content: center;align-items: center;">
            <div class="sure-btn" @click="onCloseDetail">确定</div>
        </div>
    </div>
</div>

