<!-- 病毒管理 -->
{$layout}
{$template "/datepicker"}
{$var "header"}
{$end}

<div style="display: flex;height: 40px;border-bottom: 1px #f0f0f0 solid;width: 100%;padding-bottom: 10px;">
    <div style="cursor: pointer;margin-top: 10px;" @click="onAddHost">[添加主机]</div>
</div>
<p class="comment" v-if="tableData == null || tableData.length === 0 ">暂时还没有数据。</p>

<div style="width: 100%;height: 600px;overflow-x: auto; overflow-y: auto;margin-top: 10px" v-else>
    <table class="ui table selectable celled multi-table" border="1" style="border-collapse: collapse;">
        <thead>
        <tr align="center">
            <th class='table-head-bg' style="width: 110px;">主机IP</th>
            <th class='table-head-bg' style="width: 150px;">主机名称</th>
            <th class='table-head-bg' style="width: 300px;">操作系统</th>
            <th class='table-head-bg' style="width: 150px;">创建时间</th>
            <th class='table-head-bg' style="width: 150px;">最后在线时间</th>
            <th class='table-head-bg' style="width: 100px;">状态</th>
            <th class='table-head-bg' style="width: 100px;">操作</th>
        </tr>
        </thead>
        <tbody id='tableBody'>
        <tr align="center" style="height: 40px;" v-for="item in tableData">
            <td>{{item.hostIP}}</td>
            <td>{{item.hostName}}</td>
            <td>{{item.systemName}}</td>
            <td>{{onChangeTimeFormat(item.createTime)}}</td>
            <td>{{onChangeTimeFormat(item.lastTime)}}</td>
            <td>
                <span :style="{'color':item.status==1?'#21ba45':item.status==2?'#db2828':'#169bd5'}">
                    {{getLinkState(item.status)}}
                </span>
            </td>
            <td>
                <div style="color: #169bd5;cursor: pointer;" @click="onDelete(item)">删除</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- <div class="page" v-html="page"></div> -->

