
.sure-btn {
    width: 50px;
    height: 25px;
    background-color: #21ba45;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    font-size: 9px;
    cursor: pointer;
    margin-left: 10px;
}