{$layout}
<!--{$template "../menu"}-->
<p class="comment" v-if="info == null || !info.isOn">未开启系统授权</p>
<div v-else>
    <div class="margin"></div>
    <table class="ui table definition selectable">
        <tr>
            <td>状态</td>
            <td>
                <span class="green">已认证</span>
            </td>
        </tr>
        <tr>
            <td>公司/组织名</td>
            <td>{{info.name}}</td>
        </tr>
        <tr>
            <td class="title">系统序列号</td>
            <td>{{info.code}}</td>
        </tr>
        <tr>
            <td class="title">结束日期</td>
            <td>
                <span style="float: left">{{info.dayTo}}</span>
                <div v-if="info.isExpired" style="margin-top: 0.5em;float: left">
                    <span class="red">已过期，请尽快更新认证信息。</span>
                </div>
                <div style="float: left" class="sure-btn" @click="onOpenRenew">续订</div>
            </td>
        </tr>
    </table>
</div>