{$layout}
{$template "/echarts"}
{$template "/datepicker"}

<!-- 升级提醒 -->
<div class="ui icon message error" v-if="nodeUpgradeInfo.count > 0">
    <i class="icon warning circle"></i>
    <a href="/clusters">
    升级提醒：有 {{nodeUpgradeInfo.count}} 个边缘节点需要升级到 v{{nodeUpgradeInfo.version}} 版本</a><a href="" title="关闭" @click.prevent="closeMessage"><i class="ui icon remove small"></i></a>
</div>
<div class="ui icon message error" v-if="monitorNodeUpgradeInfo.count > 0 && teaIsPlus">
    <i class="icon warning circle"></i>
    <a href="/settings/monitorNodes">升级提醒：有 {{monitorNodeUpgradeInfo.count}} 个监控节点需要升级到 v{{monitorNodeUpgradeInfo.version}} 版本</a><a href="" title="关闭" @click.prevent="closeMessage"><i class="ui icon remove small"></i></a></div>
<div class="ui icon message error" v-if="userNodeUpgradeInfo.count > 0 && teaIsPlus">
    <i class="icon warning circle"></i>
    <a href="/settings/userNodes">升级提醒：有 {{userNodeUpgradeInfo.count}} 个用户节点需要升级到 v{{userNodeUpgradeInfo.version}} 版本</a><a href="" title="关闭" @click.prevent="closeMessage"><i class="ui icon remove small"></i></a></div>
<div class="ui icon message error" v-if="apiNodeUpgradeInfo.count > 0">
    <i class="icon warning circle"></i>
    <a href="/api">升级提醒：有 {{apiNodeUpgradeInfo.count}} 个API节点需要升级到 v{{apiNodeUpgradeInfo.version}} 版本</a><a href="" title="关闭" @click.prevent="closeMessage"><i class="ui icon remove small"></i></a></div>
<div class="ui icon message error" v-if="nsNodeUpgradeInfo.count > 0 && teaIsPlus">
    <i class="icon warning circle"></i>
    <a href="/ns/clusters">升级提醒：有 {{nsNodeUpgradeInfo.count}} 个DNS节点需要升级到 v{{nsNodeUpgradeInfo.version}} 版本</a><a href="" title="关闭" @click.prevent="closeMessage"><i class="ui icon remove small"></i></a>
</div>
<div class="ui icon message error" v-if="authorityNodeUpgradeInfo.count > 0 && teaIsPlus">
    <i class="icon warning circle"></i>
    <a href="/settings/authority/nodes">升级提醒：有 {{authorityNodeUpgradeInfo.count}} 个企业版认证节点需要升级到 v{{authorityNodeUpgradeInfo.version}} 版本</a><a href="" title="关闭" @click.prevent="closeMessage"><i class="ui icon remove small"></i></a>
</div>

{$template "menu"}

<div style="width: 100%;height: 50px;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
    <div style="display: flex;flex-direction: row;height: 100%;justify-content: start;align-items: center;">
        <div class="ui field" style="margin-right: 10px">
            <input type="text" name="dayFrom" placeholder="开始日期" v-model="dayFrom" value="" style="width:142px;height: 24px;font-size: 13px;border: 1px solid #d7d7d7;border-radius: 5px;" id="day-from-picker" @change="onTimeChange"/>
        </div>
        <div class="ui field" style="margin-right: 10px">
            <input type="text" name="dayTo" placeholder="结束日期" v-model="dayTo" value="" style="width:142px;height: 24px;font-size: 13px;border: 1px solid #d7d7d7;border-radius: 5px;" id="day-to-picker" @change="onTimeChange"/>
        </div>
    </div>
    <div class="sure-btn" @click="onDownloadReport">下载报告</div>
</div>

<div style="margin-top: 15px;border: 1px solid #d7d7d7;padding: 10px;">
    <div style="color: #333;font-size: 16px;">当日安全事件分布情况</div>
    <div class="card-div" style="display: inline-flex;margin-top: 10px;">
        <div class="item-box-style" v-for="item in tableData" @click="onOpenDetail(item.url)">
            <span style="font-size: 16px;">{{item.name}}</span>
            <div style="display: flex;flex-direction: row;">
                <span style="font-size: 24px;margin-right: 10px;">{{item.value}}</span>
                <span>次</span>
            </div>
        </div>
    </div>

    <div style="margin-top: 10px;height: 580px;">
        <div style="display: flex;flex-direction: column;width: 100%;">
            <div style="height:25em;width: 100%;" id="pie-chart-box"></div>
            <div style="margin-top: 10px;"></div>
            <div style="height:18em;width: 100%;" id="line-chart-box"></div>
        </div>
    
    </div>
</div>


