{$layout}

<!-- 漏洞风险-弱口令-主机信息 列表 详情 -->

<div class="card-div" style="margin-top: 20px;">
    <div style="height: 50%;;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div>主机信息</div>
        <div class="edit_btn" @click="onGoBack">返回</div>
    </div>
    <div style="border-bottom:1px solid #f0f0f0;"></div>  
    <div style="height: 50%;display: flex;flex-direction: row;justify-content: space-between;align-items: center;">
        <div style="width: 30%;margin-right: 5%;">
            <span style="font-weight: bold;">操作系统：</span>
            <span>{{dataInfo.systemInfo}}</span>
        </div>
        <div style="width: 30%;margin-right: 5%;">
            <span style="font-weight: bold;">上次扫描时间：</span>
            <span>{{onChangeTimeFormat(dataInfo.lastScanTime)}}</span>
        </div>
        <div style="width: 30%;">
            <span style="font-weight: bold;">弱口令数：</span>
            <span>{{dataInfo.loopholeCount}}</span>
        </div>
    </div>
</div>

<div class="card-div" style="margin-top: 20px;height: 40px;">
    <div style="height: 100%;display: flex;flex-direction: row;align-items: center;">
        <div :class="{'menu-select-color':nTableState===1,'menu-define-color':nTableState!=1}" @click="onChangeTableState(1)">待处理({{tableData1.length}})</div>
        <div :class="{'menu-select-color':nTableState===2,'menu-define-color':nTableState!=2}" @click="onChangeTableState(2)">已处理({{tableData2.length}})</div>
    </div>
</div>

<div class="card-div" style="margin-top: 20px;height: 600px;padding-top: 15px;">
    <div v-if="nTableState===1">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 102px;" >风险等级</th>
                    <th class='table-head-bg' style="width: 442px;" >风险说明</th>
                    <th class='table-head-bg' style="width: 219px;" >类型</th>
                    <th class='table-head-bg' style="width: 176px;" >发现时间</th>
                    <th class='table-head-bg' style="width: 106px;" >来源</th>
                    <th class='table-head-bg' style="width: 113px;" >操作</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in tableData1" >
                    <td>
                        <div :class="{'low-bg-color':item.level===1,'middle-bg-color':item.level===2,'height-bg-color':item.level===3,'serious-bg-color':item.level===4}">
                            {{getDangerName(item.level)}}
                        </div>
                    </td>
                    <td>{{item.value1}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{onChangeTimeFormat(item.value4)}}</td>
                    <td>{{item.value5}}</td>
                    <td>
                        <div style="display: flex;justify-content: space-around;">
                            <div class="edit_btn" @click="onDetail(item.id,tableData1)">详情</div>
                            <div class="edit_btn" @click="onIgnore(item.id)">忽略</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div v-else>
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 95px;" >风险等级</th>
                    <th class='table-head-bg' style="width: 446px;" >风险说明</th>
                    <th class='table-head-bg' style="width: 233px;" >类型</th>
                    <th class='table-head-bg' style="width: 243px;" >发现时间</th>
                    <th class='table-head-bg' style="width: 90px;" >操作</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in tableData2" >
                    <td>
                        <div :class="{'low-bg-color':item.level===1,'middle-bg-color':item.level===2,'height-bg-color':item.level===3,'serious-bg-color':item.level===4}">
                            {{getDangerName(item.level)}}
                        </div>
                    </td>
                    <td>{{item.value1}}</td>
                    <td>{{item.value2}}</td>
                    <td>{{onChangeTimeFormat(item.detailTime)}}</td>
                    <td>
                        <div style="display: flex;justify-content: space-around;">
                            <div class="edit_btn" @click="onCloseIgnore(item.id)">取消忽略</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

<div v-if="dialogVisible" class="dialog-style" @click.stop>
    <div class="dialog-bg-style" style="display: flex;flex-direction: column;">
        <div style="flex: 6;">
            <div class="detail-box-style" style="margin-top: 50px;">
                <div class="title-box-f">主机IP：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">类型：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">风险等级：</div>
                <div style="display: flex;justify-content: start;align-items: center;">
                    <div :class="{'low-bg-color':detailInfo.level===1,'middle-bg-color':detailInfo.level===2,'height-bg-color':detailInfo.level===3,'serious-bg-color':detailInfo.level===4}">
                        {{getDangerName(detailInfo.level)}}
                    </div>
                </div>
                
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">风险说明：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">发现时间：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">来源：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">风险危害：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
            <div class="detail-box-style">
                <div class="title-box-f">修复建议：</div>
                <div class="title-box-h">{{detailInfo.value1}}</div>
            </div>
        </div>
        <div style="flex: 1;display: flex;justify-content: center;align-items: center;">
            <div class="sure-btn" @click="onCloseDetail">确定</div>
        </div>
    </div>
</div>