{$layout}
<div style="margin-top: 20px;width: 100%;">
    <div style="display: flex;margin: 10px 10px;">
        <form method="get" action="/monitor/notice" class="ui form" autocomplete="off">
            <div class="ui fields inline">
                <div class="ui field">
                    <input type="text" name="message" style="width:10em" v-model="message" placeholder=""/>
                </div>
                <div class="ui field">
                    <button type="submit" style="background-color: #1b6aff;" class="ui button">查询</button>
                </div>
            </div>
        </form>
    </div>
    <div style="width: 100%;height: 650px;overflow-x: auto; overflow-y: auto;">
        <table id = "tab" class="ui table selectable celled" border="0" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 469px;" >告警内容</th>
                    <th class='table-head-bg' style="width: 119px;" >告警类型</th>
                    <th class='table-head-bg' style="width: 234px;" >归属用户</th>
                    <th class='table-head-bg' style="width: 206px;" >告警时间</th>
                    <th class='table-head-bg' style="width: 125px;" >操作</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in notices" >
                    <td>{{item.message}}</td>
                    <td>告警类型</td>
                    <td>{{item.username}}</td>
                    <td>{{onChangeTimeFormat(item.create_time)}}</td>
                    <td>
                        <div class="edit_btn" style="color: #db2828" @click="onDelete(item.id)">删除</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>