.menu-define-color{
    color: #000;
    cursor: pointer;
    margin-right: 15px;
}
.menu-select-color{
    color: #0090cb;
    cursor: pointer;
    margin-right: 15px;
}

.status-open{
    display: inline-block;
    color: #21ba45;
    padding: 5px 2px;
    border: 1px solid #21ba45;
}
.status-close{
    display: inline-block;
    color: #db2828;
    padding: 5px 2px;
    border: 1px solid #db2828;
}
.edit_btn{
    cursor: pointer;
    color: red;
}
.table-head-bg{
    height: 32px;
    background: #f0f0f0;
}