.image-close {
    position: absolute;
    z-index: 2;
    /* float: right; */
    /* top: 0; */
    right: 369px;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    overflow: hidden;
    transition: color .1s ease-out;
    border: none;
    border-radius: 0;
    outline: initial;
    background: 0 0;
    color: #ccc;
    font-family: serif;
    font-size: 1.5em;
    line-height: 1.2;
    cursor: pointer;
}