{$layout "layout_popup"}

<h3>添加渠道</h3>

<form class="ui form" method="post" data-tea-success="success" data-tea-action="$">
    <csrf-token></csrf-token>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">渠道名称 *</td>
            <td>
                <input type="text" name="name" v-model="name" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td class="title">渠道域名</td>
            <td>
                <input type="text" name="domain" v-model="domain" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td class="title">产品名称</td>
            <td>
                <input type="text" name="productName" v-model="productName" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td class="title">产品LOGO</td>
            <td>
                <div style="display: flex;flex-direction: column;">
                    <img v-show="logo!=''" :src="logo" width="30px" height="30px" style="margin-bottom: 10px;">
                    <input id="imageInput" type="file" accept="image/png,image/jpeg,image/jpg" name="logo" model="logo" @change="onImageChangeHandle"/>
                </div>
            </td>
        </tr>
        <tr>
            <td class="title">联系人</td>
            <td>
                <input type="text" name="user" v-model="user" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td class="title">联系电话</td>
            <td>
                <input type="number" name="mobile" v-model="mobile" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td class="title">备注</td>
            <td>
                <textarea type="text" name="remake" v-model="remake" style="resize:none" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td>是否启用</td>
            <td>
                <input type="hidden" name="id" v-model="id">
                <checkbox name="status" v-model="status"></checkbox>
            </td>
        </tr>
    </table>
    <div style="width: 100%;display: inline-flex;justify-content: center;align-items: center;">
        <submit-btn></submit-btn>
    </div>
    
</form>