<!-- 扫描任务 -->
{$layout}
<div class="btn-contain" v-if="scans.length > 0">
    <div id="stop-btn" @click="onStopScan()">停止扫描</div>
    <div id="create-btn" @click="onCreateReport()">生成报告</div>
    <div id="del-btn" @click="onDelete()">删除</div>
</div>
<p class="comment" v-if="scans.length == 0">暂时还没有目标。</p>

<table class="ui table selectable celled multi-table" border="1" style="border-collapse: collapse;" v-if="scans.length > 0">
    <thead>
    <tr>
        <th class='table-head-bg' style="width: 72px;">
            <input id="js-all-checkbox" type="checkbox" @click="checkAll">
        </th>
        <th class='table-head-bg' style="width: 185px;">目标</th>
        <th class='table-head-bg' style="width: 150px;">目标描述</th>
        <th class='table-head-bg' style="width: 167px;">类型</th>
        <th class='table-head-bg' style="width: 282px;">漏洞</th>
        <th class='table-head-bg' style="width: 129px;">状态</th>
        <th class='table-head-bg' style="width: 214px;">扫描时间</th>
    </tr>
    </thead>
    <tbody id='tableBody'>
    <tr align="center" style="height: 50px;" v-for="item in scans">
        <td>
            <input type="checkbox" name="select" :value="item.scan_id" @click="clickCheckbox">
        </td>
        <td>{{item.target.address}}</td>
        <td>{{item.target.description}}</td>
        <td>Web</td>
        <td>
            <div style="display: flex;justify-content: center;">
                <div class="vulnerable-num" style="background-color: #ec808d;">{{item.current_session.severity_counts.high}}</div>
                <div class="vulnerable-num" style="background-color: #fcc77d;">{{item.current_session.severity_counts.medium}}</div>
                <div class="vulnerable-num" style="background-color: #3abee8;">{{item.current_session.severity_counts.low}}</div>
                <div class="vulnerable-num" style="background-color: #00b144;">{{item.current_session.severity_counts.info}}</div>
            </div>
        </td>
        <td>{{onChangeStatusFormat(item.current_session.status)}}</td>
        <td>{{onChangeTimeFormat(item.current_session.start_date)}}</td>
    </tr>
    </tbody>
</table>
