{$layout}
<div style="display: flex;height: 40px;border-bottom: 1px #f0f0f0 solid;width: 100%;padding-bottom: 10px;">
    <div style="cursor: pointer;margin-top: 10px;" @click="onAddNameList">[添加数据库]</div>
</div>

<form method="get" class="ui form" action="whiteblacklist">
    <div class="ui margin"></div>
    <div class="ui menu basic text">
        <div class="item">
            <div class="ui fields inline">
                <div class="ui field">
                    <input type="text" name="sqlName" placeholder="请输入数据库名称" v-model="sqlName"/>
                </div>
                <div class="ui field">
                    <button type="submit" class="ui button">查询</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div style="width: 100%;height: 650px;overflow-x: auto; overflow-y: auto;">
    <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
        <thead>
            <tr align="center">
                <th class='table-head-bg' style="width: 147px;" >数据库名称</th>
                <th class='table-head-bg' style="width: 147px;" >IP</th>
                <th class='table-head-bg' style="width: 147px;" >端口</th>
                <th class='table-head-bg' style="width: 147px;" >类型</th>
                <th class='table-head-bg' style="width: 147px;" >版本</th>
                <th class='table-head-bg' style="width: 147px;" >操作系统</th>
                <th class='table-head-bg' style="width: 132px;" >状态</th>
                <th class='table-head-bg' style="width: 162px;" >操作</th>
            </tr>
        </thead>
        <tbody id='tableBody'>
            <tr align="center" style="height: 40px;" v-for="item in tableData" >
                <td>{{item.value1}}</td>
                <td>{{item.value2}}</td>
                <td>{{item.value3}}</td>
                <td>{{item.value4}}</td>
                <td>{{item.value5}}</td>
                <td>{{item.value6}}</td>
                <td>
                    <div :class="{'status-open':item.status=='1','status-close':item.status=='0'}">
                        {{getStatus(item.status)}}
                    </div>
                </td>
                <td>
                    <div style="display: flex;justify-content: space-around;">
                        <div class="edit_btn" @click="onAuth(item.id)">授权</div>

                        <div class="edit_btn" @click="onEnabled(item.id,item.status)" v-if="item.status=='0'">启用</div>
                        <div class="edit_btn" @click="onDisabled(item.id,item.status)" v-else>禁用</div>

                        <div class="edit_btn" @click="onDelete(item.id)">删除</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


