{$layout}
<p class="comment" v-if="nodes.length == 0">请先添加云防火墙节点。</p>
<div style="height: 90vh;" v-if="nodes.length > 0">
    <div style="width: 100%;height: 40px;display: flex;justify-content: flex-end;">
        <div style="display: inline-flex;align-items: center;">
            <div style="text-align: center;">云防火墙节点：</div>
            <div class="ui field">
                <div class="ui field">
                    <select class="ui dropdown auto-width" name="selectNode" v-model="selectNode"
                            @change="GetSelectNode">
                        <option v-for="item in nodes" :value="item.id">{{item.addr}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px;width: 100%;height: 80vh;border: 1px #000 solid;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);">
        <div style="display: flex;justify-content: space-between;margin: 10px 10px;">
            <form method="get" action="/nfw/logs" class="ui form" autocomplete="off">
                <div class="ui fields inline">
                    <div class="ui field">
                        <input type="text" name="keyword" style="width:10em" v-model="keyword" placeholder=""/>
                    </div>
                    <div class="ui field">
                        <input type="hidden" name="nodeId" :value="selectNode" v-model="selectNode">
                        <button type="submit" class="ui button">搜索</button>
                    </div>
                </div>
            </form>
            <button class="ui button" style="background-color:red;color: #fff;" @click="onDelete">全部释放</button>
        </div>
        <div>
            <table id="tab" class="ui table selectable celled" border="0" style="border-collapse: collapse;">
                <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 194px;">日期</th>
                    <th class='table-head-bg' style="width: 262px;">进程</th>
                    <th class='table-head-bg' style="width: 667px;">line</th>
                </tr>
                </thead>
                <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in tableData">
                    <td>{{item.timestamp}}</td>
                    <td>{{item.process_name}}</td>
                    <td>{{item.line}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
