{$layout "layout_popup"}

<h3>添加组件</h3>

<form class="ui form" method="post" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">组件名称 *</td>
            <td>
                <input type="text" name="name" maxlength="100" ref="focus"/>
            </td>
        </tr>
        <tr>
            <td>网络协议*</td>
            <td>
                <assembly-http-selector></assembly-http-selector>
            </td>
        </tr>
        <tr>
            <td>组件地址</td>
            <td>
                <div style="display: flex;flex-direction: column;">
                    <input type="text" type="password" name="addr" maxlength="100"/>
                    <span style="font-size: 12px;color: #aaa;margin-top: 5px;">
                        可以是"IP:端口"或者"域名"
                    </span>
                </div>
                <!--                <p class="comment">组件访问域名或地址（https[http]://ip:port）。</p>-->
            </td>
        </tr>
        <!--        <tr>-->
        <!--            <td>是否启用</td>-->
        <!--            <td>-->
        <!--                <checkbox name="state" v-model="state"></checkbox>-->
        <!--            </td>-->
        <!--        </tr>-->
        <tr>
            <td>数据中心 *</td>
            <td>
                <div style="display: flex;flex-direction: column;">
                    <input type="text" name="idc" maxlength="100"/>
                    <span style="font-size: 12px;color: #aaa;margin-top: 5px;">
                        组件IP所属数据中心
                    </span>
                </div>
                <!--                <idc-selector></idc-selector>-->
            </td>
        </tr>
        <tr>
            <td>组件类型 *</td>
            <td>
                <assembly-selector></assembly-selector>
            </td>
        </tr>
        <tr>
            <td>API认证参数</td>
            <td>
            </td>
        </tr>

        <!--  DDoS防护      -->
        <tbody v-if="showAPIAUTHVisible == 1">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录DDoS防火墙所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录DDoS防火墙所使用的密码</p>
            </td>
        </tr>
        </tbody>
        <!--  云防火墙      -->
        <tbody v-if="showAPIAUTHVisible == 2">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录云防火墙所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录云防火墙所使用的密码</p>
            </td>
        </tr>
        </tbody>
        <!--  主机防护      -->
        <tbody v-if="showAPIAUTHVisible == 5">
        <tr>
            <td>appid *</td>
            <td>
                <input type="text" type="password" name="key" maxlength="100"/>
                <p class="comment">登录主机防护管理后台-API管理-新增</p>
            </td>
        </tr>
        <tr>
            <td>secret *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录主机防护管理后台-API管理-新增</p>
            </td>
        </tr>
        </tbody>
        <!--  WEB漏洞扫描      -->
        <tbody v-if="showAPIAUTHVisible == 4">
        <tr>
            <td>XAuth *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录Web漏洞扫描系统-右上角用户名-配置文件-API密钥</p>
            </td>
        </tr>
        </tbody>
        <!--  主机漏洞扫描-->
        <tbody v-if="showAPIAUTHVisible == 3">
        <tr>
            <td>accessKey *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录主机扫描组件-右上角用户名-我的账户-API密钥-产生</p>
            </td>
        </tr>
        <tr>
            <td>secretKey *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录主机扫描组件-右上角用户名-我的账户-API密钥-产生</p>
            </td>
        </tr>
        </tbody>
        <!--  安全审计      -->
        <tbody v-if="showAPIAUTHVisible == 6">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录安全审计所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录安全审计所使用的密码</p>
            </td>
        </tr>
        </tbody>
        <!--  堡垒机      -->
        <tbody v-if="showAPIAUTHVisible == 7">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录堡垒机所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录堡垒机所使用的密码</p>
            </td>
        </tr>
        </tbody>
        <!--  数据备份      -->
        <tbody v-if="showAPIAUTHVisible == 8">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录数据备份所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录数据备份所使用的密码</p>
            </td>
        </tr>
        </tbody>
        <!--  节点监控      -->
        <tbody v-if="showAPIAUTHVisible == 9">
        <tr>
            <td>密钥 *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">调用节点监控所使用的API密钥</p>
            </td>
        </tr>
        </tbody>
        <!--  云底座      -->
        <tbody v-if="showAPIAUTHVisible == 10">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录云底座所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录云底座所使用的密码</p>
            </td>
        </tr>
        </tbody>

        <!--  apt      -->
        <tbody v-if="showAPIAUTHVisible == 11">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录apt所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录apt所使用的密码</p>
            </td>
        </tr>
        </tbody>
        <!--  主机防护(新)      -->
        <tbody v-if="showAPIAUTHVisible == 12">
        <tr>
            <td>username *</td>
            <td>
                <input type="text" name="key" maxlength="100"/>
                <p class="comment">登录主机防护(新)所使用的账号</p>
            </td>
        </tr>
        <tr>
            <td>password *</td>
            <td>
                <input type="password" name="secret" maxlength="100"/>
                <p class="comment">登录主机防护(新)所使用的密码</p>
            </td>
        </tr>
        </tbody>
	</table>
	<submit-btn></submit-btn>
</form>