{$layout}
{$var "header"}
{$end}


<div>
    <div style="width: 100%;height: 600px;margin-top: 10px;overflow-x: auto; overflow-y: auto;">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
            <tr align="center">
                <th class='table-head-bg' style="" >名称</th>
                <th class='table-head-bg' style="" >cpu</th>
                <th class='table-head-bg' style="" >内存</th>
                <th class='table-head-bg' style="" >默认IP</th>
                <th class='table-head-bg' style="" >状态</th>
                <th class='table-head-bg' style="" >创建时间</th>
            </tr>
            </thead>
            <tbody id='tableBody'>
            <tr align="center" style="height: 40px;" v-for="item in list" >
                <td>
                    <div style="padding: 4px 0;">
                        {{item.name}}
                    </div>
                </td>
                <td>
                    <div style="padding: 4px 0;">
                        {{item.cpu}}
                    </div>
                </td>
                <td>
                    <div style="padding: 4px 0;">
                        {{item.memory}} G
                    </div>
                </td>
                <td>
                    <div style="padding: 4px 0;">
                        {{item.ip}}
                    </div>
                </td>
                <td>
                    <div style="padding: 4px 0;">
                        {{item.state}}
                    </div>
                </td>
                <td>
                    <div style="padding: 4px 0;">
                        {{getTime(item.createDate)}}
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>