<!-- 漏洞详情 -->

{$layout}
<div style="width: 100%;display: inline-flex;">
    <div style="flex: 1;width: 100%;">
        <form method="get" class="ui form" action="vulnerabilities">
            <div class="ui margin"></div>
            <div class="ui menu basic text">
                <div class="item">
                    <div class="ui fields inline">
                        <div class="ui field">
                            <span class="ui field">目标：</span>
                            <input type="text" name="address" placeholder="请输入目标地址" v-model="address"/>
                        </div>
                        <span>严重性：</span>
                        <div class="ui field">
                            <div class="ui field">
                                <select class="ui dropdown auto-width" name="severity" v-model="severity">
                                    <option value="">全部</option>
                                    <option value="3">高危</option>
                                    <option value="2">中危</option>
                                    <option value="1">低危</option>
                                    <option value="0">信息性</option>
                                </select>
                            </div>
                        </div>

                        <div class="ui field">
                            <button type="submit" class="ui button">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <table class="ui table selectable celled" border="1" style="border-collapse: collapse;" v-if="vulnerabilities.length > 0">
            <thead>
            <tr>
                <th class='table-head-bg' style="width: 183px;">严重性</th>
                <th class='table-head-bg' style="width: 462px;">漏洞</th>
                <th class='table-head-bg' style="width: 238px;">目标</th>
                <th class='table-head-bg' style="width: 297px;">发现时间</th>
            </tr>
            </thead>
            <tbody id='tableBody'>
            <tr align="center" style="height: 50px;" v-for="item in vulnerabilities" @click="onOpenDetail(item)" >
                <td>{{onChangeSeverityFormat(item.severity)}}</td>
                <td>{{item.vt_name}}</td>
                <td>{{item.affects_url}}</td>
                <td>{{onChangeTimeFormat(item.last_seen)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="rightDiv" style="display: none;flex: 1;width: 100%;position: relative;">
        <div style="height: 100%;width: 5px;background-color: #f0f0f0;margin: 1px 10px;"></div>
        <div style="margin-top: 34px;">
            <h2>Elasticsearch 服务可访问</h2>
            <div>URL:           http://182.150.0.104/</div>
            <h2>漏洞描述</h2>
            <div>Elasticsearch 是一种高度可扩展的开源全文本搜索和分析引擎，使您可以快速、近乎实时地存储、搜索和分析大量数据，通常用作为具有复杂搜索功能和要求的应用程序提供支持的基础引擎/技术。
                <br />
                <br />Acunetix 发现可以访问 elasticsearch 服务。此服务在生产网站上应不可访问，因为它可能使攻击者访问有关受影响系统的敏感信息。Elasticsearch 没有访问角色或身份验证机制。这意味着您在连接群集后就可以完全控制它。
                <br />
                <br />发现者 Elasticsearch 服务可访问</div>
            <h2>此漏洞的影响</h2>
            <div>攻击者可以在 elasticsearch 服务上查询、更新和创建新索引。</div>
            <h2>如何修复此漏洞</h2>
            <div>禁止外部访问 elasticsearch 服务。</div>
        </div>
        <div style="position: absolute;right: 10px;top: 8px;font-size: 24px;cursor: pointer;" @click="onOpenDetail()">X</div>
    </div>
</div>