<!-- 漏洞详情 -->

{$layout}
<form method="get" class="ui form" action="/vulnerabilities">
    <input type="hidden" name="auditingFlag" :value="auditingFlag"/>
	<div class="ui margin"></div>
    <div class="ui menu basic text">
        <div class="item">
            <div class="ui fields inline">
                
                <div class="ui field">
                    <span class="ui field">目标：</span>
                    <input type="text" name="keyword" placeholder="请输入目标地址" v-model="keyword"/>
                </div>
                <span>严重性：</span>
                <div class="ui field">
                    <div class="ui field">
                        <select class="ui dropdown auto-width" name="clusterId" v-model="clusterId">
                            <option value="0">全部</option>
                            <option v-for="cluster in clusters" :value="cluster.id">{{cluster.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="ui field">
                    <button type="submit" class="ui button">搜索</button>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="ui table selectable celled" border="1" style="border-collapse: collapse;" v-if="vulnerabilities.length > 0">
    <thead>
    <tr>
        <th class='table-head-bg' style="width: 183px;">严重性</th>
        <th class='table-head-bg' style="width: 462px;">漏洞</th>
        <th class='table-head-bg' style="width: 238px;">目标</th>
        <th class='table-head-bg' style="width: 297px;">发现时间</th>
    </tr>
    </thead>
    <tbody id='tableBody'>
    <tr align="center" style="height: 50px;" v-for="item in vulnerabilities">
        <td>{{item.status}}</td>
        <td>{{item.scanDisc}}</td>
        <td>{{item.target}}</td>
        <td>{{item.findTime}}</td>
    </tr>
    </tbody>
</table>