{$layout}
<script type="text/javascript" src="/js/echarts/echarts.min.js"></script>

<!-- 全局状态 -->


<div style="width: 100%;;display: inline-flex;padding: 20px 30px 0 30px;border: 1px #f0f0f0 solid;">
    <div class="item-box-style" v-for="item in pageData.titleInfo">
        <span>{{item.name}}</span>
        <div style="display: flex;flex-direction: row;">
            <span style="font-size: 20px;">{{item.count}} {{item.unit}}</span>
            <span v-if="item.subCount">
                / {{item.subCount}} {{item.unit}}
            </span>
        </div>
    </div>
</div> 

<div style="width: 100%;border: 1px #f0f0f0 solid;margin-top: 10px;">
    <div style="height:18em;width: 100%;" id="lineOne-chart-box"></div>
</div>

<div style="width: 100%;border: 1px #f0f0f0 solid;margin-top: 10px;">
    <div style="height:18em;width: 100%;" id="lineTwo-chart-box"></div>
</div>

<div style="width: 100%;border: 1px #f0f0f0 solid;margin-top: 10px;">
    <div style="height:18em;width: 100%;" id="lineThree-chart-box"></div>
</div>