.Bar { 
    position: relative; 
    width: 900px;/* 宽度 */ 
    background:#f0f0f0;/* 进度框背景颜色 */ 
    border: 1px solid #f0f0f0;
    padding: 1px; 
    display: flex;
    justify-content: space-between;
}
.Bar div{ 
    display: block; 
    position: relative;
    background:#0091cc;/* 进度条背景颜色 */ 
    color: #333333;
    height: 20px; /* 高度 */ 
    line-height: 20px;/* 必须和高度一致，文本才能垂直居中 */ 
}
.Bar span{ 
    position: absolute; 
    width: 900px; /* 宽度 */ 
    text-align: center; 
    font-weight: bold; 
}