{$layout}

<div style="width: 100%;height: 40px;display: flex;justify-content: flex-end;">
    <div style="display: inline-flex;align-items: center;">
        <div style="text-align: center;">DDoS防火墙节点：</div>
        <div class="ui field">  
            <div class="ui field">
                <select class="ui dropdown auto-width" name="severity" v-model="severity">
                    <option v-for="item in hostData" :value="item.id">{{item.hostAddress}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
