.menu-define-color{
    cursor: pointer;
    color: #000;
    margin-right: 15px;
}
.menu-select-color{
    cursor: pointer;
    color: #0090cb;
    margin-right: 15px;
}
.table-head-bg{
    height: 32px;
    background: #f0f0f0;
}
.right-space{
    margin-right: 10px;
}
.edit_btn{
    cursor: pointer;
    color: red;
}