<!-- 审计-数据库 -->
{$layout}
{$var "header"}
{$end}

<div>
    <div style="display: flex;height: 40px;border-bottom: 1px #f0f0f0 solid;width: 100%;padding-bottom: 10px;">
        <div style="cursor: pointer;margin-top: 10px;" @click="onAddHost">[添加主机]</div>
    </div>

    <div style="width: 100%;height: 600px;margin-top: 10px;overflow-x: auto; overflow-y: auto;">
        <table id = "tab" class="ui table selectable celled" border="1" style="border-collapse: collapse;">
            <thead>
                <tr align="center">
                    <th class='table-head-bg' style="width: 200px;" >主机名称</th>
                    <th class='table-head-bg' style="width: 180px;" >主机地址</th>
                    <th class='table-head-bg' style="width: 180px;" >主机平台</th>
                    <th class='table-head-bg' style="width: 100px" >CPU</th>
                    <th class='table-head-bg' style="width: 120px" >内存</th>
                    <th class='table-head-bg' style="width: 250px" >磁盘</th>
                    <th class='table-head-bg' style="width: 180px" >状态</th>
                    <th class='table-head-bg' style="width: 180px" >是否启用</th>
                    <th class='table-head-bg' style="width: 200px" >操作</th>
                </tr>
            </thead>
            <tbody id='tableBody'>
                <tr align="center" style="height: 40px;" v-for="item in list" >
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.name}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.host}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.os}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.cpu}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.mem}}
                        </div>
                    </td>
                    <td>
                        <div style="padding: 4px 0;">
                            {{item.disk}}
                        </div>
                    </td>
                    <td>
                        <div :class="{'status-open':item.status,'status-close':!item.status}">
                            {{getLinkStatus(item.status)}}
                        </div>
                    </td>
                    <td>
                        <div :class="{'status-open':item.on,'status-close':!item.on}">
                            {{getStatus(item.on)}}
                        </div>
                    </td>
                    <td>
                        <div style="display: flex;justify-content: space-around;padding: 4px 0;">
                            <div class="edit_btn" @click="onEdit(item)">修改</div>
                            <div class="edit_btn" @click="onRelease(item)">部署</div>
                            <div class="del-btn" style="color: #db2828" @click="onDelete(item.id)">删除</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>    
</div>

<div v-if="bOpenRelease" class="dialog-style" @click.stop>
    <div class="dialog-bg-style" style="display: flex;flex-direction: column;justify-content: start;align-items: flex-start;padding: 10px 15px;">
        <div style="margin-bottom: 30px;">
            <span style="font-size: 16px;">部署Agent</span> 
        </div>
        <div style="margin-bottom: 15px;">
            <span style="font-size: 14px;">请在被监控的主机上</span> 
            <span style="font-size: 14px;color: #0090cb;cursor: pointer;" @click="onJumpURL">下载并安装Agent</span> 
            <span style="font-size: 14px;">，并修改</span> 
            <span style="font-size: 14px;background-color: #eee;">&#12288;  configs/agent.conf &#12288; </span>
            <span style="font-size: 14px;">内容如下：</span>
        </div>
        <div style="width: 100%;padding: 10px;background-color: #eee;">
            <div style="margin-bottom: 10px;">{{`master:${agentUrl}`}}</div>
            <div style="margin-bottom: 10px;">{{`id:${agentId}`}}</div>
            <div style="margin-bottom: 10px;">{{`key:${agentKey}`}}</div>
        </div>
        <div style="width: 100%;margin-top: 15px;display: inline-flex;justify-content: center;align-items: center;">
            <div class="sure-btn" @click="onCloseRelease">确定</div>
        </div>
        
    </div>
</div>
